#contactInfo {
  max-width: 1300px;
  margin: 100px auto;

  & h2 {
  }

  & h3 {
    color: #787878;
  }

  & p {
    color: #787878;
    margin-top: 32px;
  }
}

#contactMain {
  height: 100%;
}

#contactBody {
  height: 100vh;
}

#footerContact {
  position: fixed;
  bottom: 0;

  width: 100vw;
}
