.navigation {
  position: sticky;
  top: 60px;

  gap: 40px;
  align-items: center;
  margin: 60px 64px;

  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(218, 52, 93, 1) 100%
  );

  border-radius: 50px;

  & ul {
    list-style: none;
    gap: 40px;

    & li {
      border: 1px solid transparent;

      & a {
        color: #f1f1f1;
      }
    }

    & li:hover {
      border-bottom-color: #da345d;
    }
  }

  & #logo {
    width: 96px;
    height: 96px;

    margin-left: 40px;
  }
}

.bgHeader {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 160px;

  backdrop-filter: blur(10px);
}

.footerInfo {
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(218, 52, 93, 1) 100%
  );

  & #navFooter {
    align-items: center;
    padding: 10px;

    & ul {
      list-style: none;
      gap: 140px;

      margin-left: 140px;

      & li {
        border: 1px solid transparent;

        & a {
          color: #f1f1f1;
        }
      }

      & li:hover {
        border-bottom: 1px solid #da345d;
      }
    }
  }

  & #logoFooter {
    max-width: 200px;
    max-height: 200px;
    padding-inline: 50px;

    border-right: 1px solid #da345d;
  }

  #rights {
    justify-content: space-between;
    border-top: 1px solid #000000;

    background: #000000;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(218, 52, 93, 1) 100%
    );

    padding: 7px 60px;

    & p {
      color: #d4d4d4;
    }
  }
}

& .title {
  font-size: 96px;
  margin-bottom: 10px;
  color: #da345d;
}

& .text {
  font-size: 24px;
  color: #787878;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.bg-color {
  background-color: #f1f1f1;
}
